<div class="oc-blogs">
  <oc-breadcrumb-banner
    [banners]="banners"
    title="Blogs"
  ></oc-breadcrumb-banner>

  <section class="oc-blogs__blogs">
    <div class="container d-flex flex-column align-items-center">

      <div class="oc-blogs__header" animateOnScroll="animate__fadeInDown">
        <h2>Recent Posts</h2>
        <div class="oc-blogs__header-line"></div>
      </div>

      <div class="oc-blogs__layout">
        <div class="oc-blogs__main">

          <form [formGroup]="searchForm" class="oc-blogs__search" animateOnScroll="animate__fadeInUp" animateDelay="0.1s">
            <input
              type="search"
              class="form-control"
              placeholder="Search posts..."
              [(ngModel)]="searchQuery"
              [ngModelOptions]="{ standalone: true }"
              (keyup.enter)="searchForm.get('query').patchValue(searchQuery)"
            />
            <button
              class="btn btn-primary"
              (click)="searchForm.get('query').patchValue(searchQuery)"
            >
              Search
            </button>
          </form>

          <p class="oc-blogs__search-results mt-3 mb-0" *ngIf="searchForm.get('query').value">
            <b>Results for:</b>
            <span>"{{ searchForm.get("query").value }}"</span>
            <span
              (click)="searchForm.get('query').patchValue(''); searchQuery = ''"
              class="oc-blogs__search-clear ms-2"
            >✕</span>
          </p>

          <div class="mt-4" *ngIf="!blogs.length && !isLoading">
            <h5 class="text-muted">No blogs found.</h5>
          </div>

          <div class="oc-blogs__blog-list">
            <div
              class="oc-blogs__blog-item"
              animateOnScroll="animate__fadeInUp"
              *ngFor="let blog of blogs"
            >
              <div class="oc-blogs__blog-image">
                <img [src]="blog.imageHeaderUrl" alt="{{ blog.title }}" />
              </div>
              <div class="oc-blogs__blog-item-body">
                <div class="oc-blogs__blog-item-meta">
                  <span class="oc-blogs__blog-tag oc-blogs__blog-tag--{{ blog.tagClass }}">
                    {{ blog.tags }}
                  </span>
                  <span class="oc-blogs__blog-date">{{ blog.publishDate | date : "mediumDate" }}</span>
                  <span class="oc-blogs__blog-views">
                    <fa-icon [icon]="['far', 'eye']"></fa-icon>
                    {{ blog.views }}
                  </span>
                </div>
                <h5 class="oc-blogs__blog-title">{{ blog.title }}</h5>
                <p class="oc-blogs__blog-excerpt">{{ blog.content | slice : 0 : 200 }}...</p>
                <a [routerLink]="['/blogs/', blog.id]" class="oc-blogs__blog-read-more">
                  Read More
                  <fa-icon [icon]="['fas', 'arrow-right']" class="ms-1"></fa-icon>
                </a>
              </div>
            </div>
          </div>

          <nav class="oc-blogs__pagination mt-4" *ngIf="pages.length > 1">
            <ul class="pagination">
              <li class="page-item" *ngFor="let page of pages">
                <a
                  class="page-link"
                  (click)="searchForm.get('page').patchValue(page - 1)"
                  [class.active]="searchForm.get('page').value + 1 === page"
                >{{ page }}</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="oc-blogs__sidebar">
          <oc-blog-author></oc-blog-author>
        </div>
      </div>
    </div>
  </section>
</div>
