<div class="oc-about-me">
  <oc-breadcrumb-banner
    [banners]="banners"
    title="About Me"
  ></oc-breadcrumb-banner>
  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="oc-about-me__about-me-image">
        <div class="oc-about-me__about-me-imagebg"></div>
        <img src="assets/images/profile-2.png" alt="Profile" />
      </div>
      <div class="oc-about-me__about-me-info">
        <span>ABOUT ME</span>
        <h2>PERSONAL DETAILS</h2>
        <p>
          Hi, I'm Stephen Vinuya, currently working as a
          <b>Lead Angular Developer</b>. I have been recognized as a
          <b>Microsoft MVP for Developer Technologies</b>
          from 2019 to 2024. With over 8 years of experience in frontend
          development and 6 years in leadership roles, I've honed my skills in
          web development and actively share my expertise with the community.
          This includes delivering talks, conducting bootcamps, and contributing
          to open-source projects.
          <br />
          <br />
          Throughout my career, I've specialized in
          <b>Angular (versions 2 to 18), TypeScript, SCSS, and JavaScript</b>.
          Additionally, I have some experience with backend and cloud
          technologies such as
          <b>PHP, Node.js, .NET, and services like GCP, AWS, and Azure</b>.
        </p>
      </div>
    </div>
  </section>

  <section class="oc-about-me__about-me">
    <div class="container d-flex container-reverse">
      <div class="oc-about-me__about-me-info me-md-5 ms-md-0">
        <h2>Microsoft MVP</h2>
        <p>
          The <b>Microsoft Most Valuable Professional (MVP)</b> award is given
          by Microsoft to "technology experts who passionately share their
          knowledge with the community". They are awarded to people who
          "actively share their technical expertise with the different
          technology communities related directly, or indirectly to Microsoft".

          <br /><br />
          I was awarded for 5 consecutive years for my passion and support to
          the community here in the Philippines, during the time that I was a
          Microsoft MVP, we are only <b>8</b> out of all IT professional here in
          the country
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/mvp-min.jpeg"
              data-pswp-width="3190"
              data-pswp-height="1910"
            >
              <img
                src="assets/images/mvp-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
        </carousel>
      </div>
    </div>
  </section>

  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/talk-5-min.jpeg"
              data-pswp-width="1920"
              data-pswp-height="1080"
            >
              <img
                src="assets/images/talk-5-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/angular-2.jpeg"
              data-pswp-width="4096"
              data-pswp-height="2073"
            >
              <img
                src="assets/images/angular-2.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/sti-nova-2-min.jpeg"
              data-pswp-width="4096"
              data-pswp-height="2073"
            >
              <img
                src="assets/images/sti-nova-2-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/talk-11-min.jpg"
              data-pswp-width="1920"
              data-pswp-height="1080"
            >
              <img
                src="assets/images/talk-11-min.jpg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/html5-devcon-2.jpg"
              data-pswp-width="1920"
              data-pswp-height="1280"
            >
              <img
                src="assets/images/html5-devcon-2.jpg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/talk-8-min.jpeg"
              data-pswp-width="3844"
              data-pswp-height="1944"
            >
              <img
                src="assets/images/talk-8-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
        </carousel>
      </div>
      <div class="oc-about-me__about-me-info">
        <h2>Local & International Speaker</h2>
        <p>
          Since I was a Microsoft MVP, I'm doing talks, seminar and bootcamps
          locally and internationally. I have done numerous talks whether its
          technical, or inspirational. Few highlights talks I did was on:
          <b
            >NDC Sydney, Programmer's Week Cognizant, SOFCON PH, PITCON,
            DEVCON</b
          >

          <br /><br />
          I'm very passionate sharing my experiences and expertise on the
          community, to help the new or old ones to jump start their career and
          learn new technologies.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
    </div>
  </section>

  <section class="oc-about-me__about-me">
    <div class="container d-flex container-reverse">
      <div class="oc-about-me__about-me-info me-md-5 ms-md-0">
        <h2>Car Enthusiast</h2>
        <p>
          Apart from web development, I spend most of my money and time on cars.
          Growing up, my father and I used to play <b>Gran Turismo</b> on the
          PlayStation 1; it's one of the best memories I have with my dad. I
          worked hard in my career to buy those fancy cars in real life.
          <br /><br />
          Now, I'm a member of <b>Mustang Enthusiast Philippines</b> and
          <b>WRX/STI Philippines</b>. And every time there's a car meetup, I
          always invite my dad. I know it's just a depreciating piece of metal,
          but to me and my dad, it's a reminder of how far we have come in life.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-1.jpeg"
              data-pswp-width="4096"
              data-pswp-height="2838"
            >
              <img src="assets/images/car-1.jpeg" alt="Profile" height="300" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-2.jpg"
              data-pswp-width="2048"
              data-pswp-height="1630"
            >
              <img src="assets/images/car-2.jpg" alt="Profile" height="300" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-3.jpg"
              data-pswp-width="1669"
              data-pswp-height="2048"
            >
              <img src="assets/images/car-3.jpg" alt="Profile" height="300" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-4.jpg"
              data-pswp-width="2048"
              data-pswp-height="1536"
            >
              <img src="assets/images/car-4.jpg" alt="Profile" height="300" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-5.jpg"
              data-pswp-width="2048"
              data-pswp-height="1536"
            >
              <img src="assets/images/car-5.jpg" alt="Profile" height="300" />
            </a>
          </slide>
        </carousel>
      </div>
    </div>
  </section>
  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/anc-2.jpeg"
              data-pswp-width="1920"
              data-pswp-height="1920"
            >
              <img src="assets/images/anc-2.jpeg" alt="Profile" height="340" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/comp-1-min.jpeg"
              data-pswp-width="1080"
              data-pswp-height="1080"
            >
              <img
                src="assets/images/comp-1-min.jpeg"
                alt="Profile"
                height="340"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/grades-min.png"
              data-pswp-width="2048"
              data-pswp-height="1536"
            >
              <img
                src="assets/images/grades-min.png"
                alt="Profile"
                height="340"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/top-3.jpeg"
              data-pswp-width="4096"
              data-pswp-height="3072"
            >
              <img src="assets/images/top-3.jpeg" alt="Profile" height="340" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/ang.jpeg"
              data-pswp-width="2160"
              data-pswp-height="1618"
            >
              <img src="assets/images/ang.jpeg" alt="Profile" height="340" />
            </a>
          </slide>
        </carousel>
      </div>
      <div class="oc-about-me__about-me-info">
        <h2>Achievements</h2>
        <p>
          One of my most memorable achievements in life is when I won the
          <b>Accenture Program The Future 2016</b>. Most of the colleges in the
          Philippines joined the competition, and out of 80 teams, my team won.
          We were also featured on <b>CNN Philippines</b> and
          <b>Umagang kay ganda</b>. <br />
          <br />
          I also won several programming competitions during my college days,
          such as the C++ Competition and the UMAK IT Olympics Java Competition.
          I finished my bachelor's degree in BSIT at National University as
          <b>Magna Cum Laude</b>.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
    </div>
  </section>

  <section class="timeline pb-120 pt-5">
    <div class="text-center">
      <div class="menu-content pb-70">
        <div class="title text-center">
          <h1 class="mb-10">My Career Timeline</h1>
          <p>Timeline on my career history and education.</p>
        </div>
      </div>
    </div>
    <ul class="pb-3 mb-0">
      <li *ngFor="let experience of experiences">
        <div
          class="content hidden d-flex flex-column align-items-center"
          style="opacity: 1"
        >
          <h4 class="mb-0 pb-1">
            {{ experience.name }}
          </h4>
          <i>{{ experience.company }}</i>
          <p>{{ experience.dateStr }}</p>
          <p style="font-size: 13px" [innerHTML]="experience.description"></p>
        </div>
      </li>
    </ul>
  </section>
</div>
