<div class="oc-about-me">
  <oc-breadcrumb-banner
    [banners]="banners"
    title="About Me"
  ></oc-breadcrumb-banner>
  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="oc-about-me__about-me-image">
        <div class="oc-about-me__about-me-imagebg"></div>
        <img src="assets/images/profile-2.png" alt="Profile" />
      </div>
      <div class="oc-about-me__about-me-info">
        <span>ABOUT ME</span>
        <h2>PERSONAL DETAILS</h2>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, reprehenderit. Cumque optio suscipit inventore laudantium saepe consequatur, molestias eveniet ipsum? Suscipit officiis id commodi cum dignissimos harum, tempore accusamus facere.
        </p>
      </div>
    </div>
  </section>
  <section class="timeline pb-120 pt-5">
    <div class="text-center">
      <div class="menu-content pb-70">
        <div class="title text-center">
          <h1 class="mb-10">My Career Timeline</h1>
          <p>Timeline on my career history and education.</p>
        </div>
      </div>
    </div>
    <ul>
      <li>
        <div class="content hidden" style="opacity: 1">
          <h4>
            <time>Masters in Graphics &amp; Fine Arts</time>
          </h4>
          <p><b>Session:</b> 2010-11</p>
          <p><b>Result:</b> 3.78 (In the Scale of 4.00)</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <img
            class="img-fluid mx-auto d-block mb-30"
            src="img/about/c-logo.png"
            alt=""
          />
          <h4>
            <time>Creative Content Developer</time>
          </h4>
          <p>July 2015 to Present</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <h4>
            <time>Bachelor in Graphics &amp; UI/UX</time>
          </h4>
          <p><b>Session:</b> 2006-09</p>
          <p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <img
            class="img-fluid mx-auto d-block mb-30"
            src="img/about/c-logo.png"
            alt=""
          />
          <h4>
            <time>Senior UI/UX Designer</time>
          </h4>
          <p>July 2015 to Present</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <h4>
            <time>Diploma in Fine Arts &amp; Printing</time>
          </h4>
          <p><b>Session:</b> 2003-06</p>
          <p><b>Result:</b> 4.94 (In the Scale of 5.00)</p>
        </div>
      </li>
    </ul>
  </section>
</div>
