<div class="oc-about-me">
  <oc-breadcrumb-banner
    [banners]="banners"
    title="About Me"
  ></oc-breadcrumb-banner>
  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="oc-about-me__about-me-image">
        <div class="oc-about-me__about-me-imagebg"></div>
        <img src="assets/images/profile-2.png" alt="Profile" />
      </div>
      <div class="oc-about-me__about-me-info">
        <span>ABOUT ME</span>
        <h2>PERSONAL DETAILS</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          reprehenderit. Cumque optio suscipit inventore laudantium saepe
          consequatur, molestias eveniet ipsum? Suscipit officiis id commodi cum
          dignissimos harum, tempore accusamus facere.
        </p>
      </div>
    </div>
  </section>

  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="oc-about-me__about-me-info me-md-5 ms-md-0">
        <h2>Microsoft MVP</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          reprehenderit. Cumque optio suscipit inventore laudantium saepe
          consequatur, molestias eveniet ipsum? Suscipit officiis id commodi cum
          dignissimos harum, tempore accusamus facere.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
      <div class="d-flex align-items-center justify-content-center w-100">
        <img src="assets/images/mvp-min.jpeg" alt="Profile" height="300" />
      </div>
    </div>
  </section>

  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/talk-5-min.jpeg"
              data-pswp-width="1920"
              data-pswp-height="1080"
            >
              <img
                src="assets/images/talk-5-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/angular-2.jpeg"
              data-pswp-width="4096"
              data-pswp-height="2073"
            >
              <img
                src="assets/images/angular-2.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/sti-nova-2-min.jpeg"
              data-pswp-width="4096"
              data-pswp-height="2073"
            >
              <img
                src="assets/images/sti-nova-2-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/talk-11-min.jpg"
              data-pswp-width="1920"
              data-pswp-height="1080"
            >
              <img
                src="assets/images/talk-11-min.jpg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/html5-devcon-2.jpg"
              data-pswp-width="1920"
              data-pswp-height="1280"
            >
              <img
                src="assets/images/html5-devcon-2.jpg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/talk-8-min.jpeg"
              data-pswp-width="3844"
              data-pswp-height="1944"
            >
              <img
                src="assets/images/talk-8-min.jpeg"
                alt="Profile"
                height="300"
              />
            </a>
          </slide>
        </carousel>
      </div>
      <div class="oc-about-me__about-me-info">
        <h2>Local & International Speaker</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          reprehenderit. Cumque optio suscipit inventore laudantium saepe
          consequatur, molestias eveniet ipsum? Suscipit officiis id commodi cum
          dignissimos harum, tempore accusamus facere.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
    </div>
  </section>

  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="oc-about-me__about-me-info me-md-5 ms-md-0">
        <h2>Car Enthusiast</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          reprehenderit. Cumque optio suscipit inventore laudantium saepe
          consequatur, molestias eveniet ipsum? Suscipit officiis id commodi cum
          dignissimos harum, tempore accusamus facere.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-1.jpeg"
              data-pswp-width="4096"
              data-pswp-height="2838"
            >
              <img src="assets/images/car-1.jpeg" alt="Profile" height="300" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-2.jpg"
              data-pswp-width="2048"
              data-pswp-height="1630"
            >
              <img src="assets/images/car-2.jpg" alt="Profile" height="300" />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/car-3.jpg"
              data-pswp-width="1669"
              data-pswp-height="2048"
            >
              <img src="assets/images/car-3.jpg" alt="Profile" height="300" />
            </a>
          </slide>
        </carousel>
      </div>
    </div>
  </section>
  <section class="oc-about-me__about-me">
    <div class="container d-flex">
      <div class="d-flex align-items-center justify-content-center w-100">
        <carousel
          class="oc-about-me__carousel"
          [isAnimated]="true"
          [interval]="9999"
        >
          <slide>
            <a
              class="slide-item"
              href="assets/images/anc-2.jpeg"
              data-pswp-width="1920"
              data-pswp-height="1440"
            >
              <img
                src="assets/images/anc-2.jpeg"
                alt="Profile"
                height="340"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/comp-1-min.jpeg"
              data-pswp-width="1080"
              data-pswp-height="1080"
            >
              <img
                src="assets/images/comp-1-min.jpeg"
                alt="Profile"
                height="340"
              />
            </a>
          </slide>
          <slide>
            <a
              class="slide-item"
              href="assets/images/grades-min.png"
              data-pswp-width="2048"
              data-pswp-height="1536"
            >
              <img
                src="assets/images/grades-min.png"
                alt="Profile"
                height="340"
              />
            </a>
          </slide>
         
        </carousel>
      </div>
      <div class="oc-about-me__about-me-info">
        <h2>Overachiever & Perfectionist</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          reprehenderit. Cumque optio suscipit inventore laudantium saepe
          consequatur, molestias eveniet ipsum? Suscipit officiis id commodi cum
          dignissimos harum, tempore accusamus facere.
        </p>
      </div>
      <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
    </div>
  </section>

  <section class="timeline pb-120 pt-5">
    <div class="text-center">
      <div class="menu-content pb-70">
        <div class="title text-center">
          <h1 class="mb-10">My Career Timeline</h1>
          <p>Timeline on my career history and education.</p>
        </div>
      </div>
    </div>
    <ul>
      <li>
        <div class="content hidden" style="opacity: 1">
          <h4>
            <time>Masters in Graphics &amp; Fine Arts</time>
          </h4>
          <p><b>Session:</b> 2010-11</p>
          <p><b>Result:</b> 3.78 (In the Scale of 4.00)</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <img
            class="img-fluid mx-auto d-block mb-30"
            src="img/about/c-logo.png"
            alt=""
          />
          <h4>
            <time>Creative Content Developer</time>
          </h4>
          <p>July 2015 to Present</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <h4>
            <time>Bachelor in Graphics &amp; UI/UX</time>
          </h4>
          <p><b>Session:</b> 2006-09</p>
          <p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <img
            class="img-fluid mx-auto d-block mb-30"
            src="img/about/c-logo.png"
            alt=""
          />
          <h4>
            <time>Senior UI/UX Designer</time>
          </h4>
          <p>July 2015 to Present</p>
        </div>
      </li>
      <li>
        <div class="content hidden" style="opacity: 1">
          <h4>
            <time>Diploma in Fine Arts &amp; Printing</time>
          </h4>
          <p><b>Session:</b> 2003-06</p>
          <p><b>Result:</b> 4.94 (In the Scale of 5.00)</p>
        </div>
      </li>
    </ul>
  </section>
</div>
