<div class="oc-talks">
    <oc-breadcrumb-banner
    [banners]="banners"
    title="Talks"
  ></oc-breadcrumb-banner>
  <section class="oc-talks__talks">
    <div class="container d-flex flex-column">
      <h2 class="mt-5">Talks I have conducted</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        blanditiis facere, fuga distinctio quia tempora sequi! <br />
        Libero vel ipsum nihil quae, aliquam deserunt quas, repellendus sunt
        architecto mollitia hic suscipit?
      </p>
      
      </div>
      </section>
</div>