<div class="oc-projects">
    <oc-breadcrumb-banner
    [banners]="banners"
    title="Projects"
  ></oc-breadcrumb-banner>
  <section class="oc-projects__projects">
    <div class="container d-flex flex-column">
      <h2 class="mt-5">Projects I have worked</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        blanditiis facere, fuga distinctio quia tempora sequi! <br />
        Libero vel ipsum nihil quae, aliquam deserunt quas, repellendus sunt
        architecto mollitia hic suscipit?
      </p>
      <section class="oc-projects__project-item" *ngFor="let project of projects">
        <div class="container d-flex">
          <div class="d-flex align-items-center justify-content-center">
            <carousel
              class="oc-projects__carousel"
              [isAnimated]="true"
              [interval]="0"
            >
              <slide *ngFor="let image of project.images">
                <a
                  class="slide-item"
                  [href]="image.url"
                  [attr.data-pswp-width]="image.width"
                  [attr.data-pswp-height]="image.height"
                >
                  <img
                    [src]="image.url"
                    alt="Profile"
                    width="450"
                  />
                </a>
              </slide>
        
            </carousel>
          </div>
          <div class="oc-projects__project-item-info">
            <h4>{{ project.name }}</h4>
            <b>{{ project.role }}</b>
            <span>{{ project.techs }}</span>

            <p>
              {{ project.description }}
            </p>
          </div>
          <!-- <div class="oc-about-me__about-me-imagebg"></div> -->
        </div>
      </section>    
    
      </div>
      </section>
</div>