@import "../../assets/scss/config.scss";
.#{$style-prefix}-projects {
    &__projects {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .container {
          max-width: 1100px;
        }
    
        p {
          //   text-align: center;
          font-size: 14px;
        }
    
        &-item {
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &__carousel {
        width: 500px;
        background-color: $dark1;
        display: flex;
        justify-content: center;
      }
    
      &__project-item {
        min-height: 400px;
        display: flex;
        justify-content: center;
        background-color: $light;
    
        &-imagebg {
          background-image: url("../../assets/images/highlight-2.png");
          background-size: auto;
          background-size: contain;
          position: absolute;
          top: 80px;
          left: -40px;
          height: 400px;
          width: 398px;
          z-index: 2;
        }
        &-image {
          width: 400px;
          position: relative;
          overflow-y: clip;
          img {
            height: 400px;
            z-index: 10;
            left: -26px;
            position: relative;
          }
        }
    
        &-info {
          margin-left: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
    
          span {
            font-size: 14px;
            margin-bottom: 20px;
          }
    
          p {
            margin-top: 20px;
          }
        }
    
        .container {
          max-width: 1100px;
        }
    
        @media screen and (max-width: 830px) {
          .container {
            flex-wrap: wrap;
          }
    
          &-info {
            margin-right: 80px;
            margin-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 20px;
          }
    
          &-image {
            justify-content: center;
            display: flex;
    
            width: 100%;
    
            img {
              height: 450px;
            }
          }
          &-imagebg {
            left: unset !important;
            height: 450px;
            width: 450px;
          }
        }
      }
}