<div class="oc-contact-me">
  <oc-breadcrumb-banner
    [banners]="banners"
    title="Contact Me"
  ></oc-breadcrumb-banner>
  <div class="oc-contact-me__form">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="d-flex align-items-center mt-4 pb-2">
            <fa-icon [icon]="['fas', 'house']" class="oc-text-primary " size="xl" ></fa-icon>
            <span class="ms-3">Antipolo, Rizal Philippines</span>
          </div>
          <div class="d-flex align-items-center mt-4 pb-2">
            <fa-icon [icon]="['fas', 'phone']" class="oc-text-primary"  size="xl"></fa-icon>
            <span class="ms-3">+63 9399052618</span>
          </div>
          <div class="d-flex align-items-center mt-4">
            <fa-icon [icon]="['fas', 'envelope']" class="oc-text-primary" size="xl"></fa-icon>
            <span class="ms-3">onecompileman13.com</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <input type="text" class="form-control mt-3" placeholder="Name">
            <input type="text" class="form-control mt-3" placeholder="Email Address">

            <input type="text" class="form-control mt-3" placeholder="Subject">

        </div>
        <div class="col-lg-4 col-md-12">
            <textarea name="" id="" rows="6" class="form-control mt-3" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="row d-flex justify-content-end pe-2 pb-3">
            <button class="btn btn-primary me-1 mt-4" disabled>Send Message</button>
      </div>
    </div>
  </div>
</div>
