<nav class="oc-navbar navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stephen Vinuya</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-link" [routerLink]="['/about-me']" [routerLinkActive]="'active'">About Me</a>
        <a class="nav-link" [routerLink]="['/services']" [routerLinkActive]="'active'">Services</a>
        <a class="nav-link" [routerLink]="['/projects']" [routerLinkActive]="'active'">Projects</a>
        <a class="nav-link" [routerLink]="['/talks']" [routerLinkActive]="'active'">Talks</a>
        <a class="nav-link"  [routerLink]="['/blogs']" [routerLinkActive]="'active'">Blogs</a>
        <a class="nav-link" [routerLink]="['/contact-me']" [routerLinkActive]="'active'">Contact Me</a>
        <a class="nav-link" href="/assets/pdf/resume-vinuya.pdf" download>
            <button class="btn btn-sm btn-primary">
                My Resume
            </button>
     </a
        >
      </div>
    </div>
  </div>
</nav>
