@import "../../../../assets/scss/config.scss";

.#{$style-prefix}-navbar {
    background-color: $light !important;
    position: sticky;
    top: 0;
    z-index: 100;

    .container-fluid {
        max-width: 1100px;
    }

    .active {
        color: $primary;
        font-weight: bold;
    }

    .navbar-collapse {
        flex-grow: unset;
    }

    .navbar-toggler {
        &:focus {
            outline: 0;
            outline-color: unset;
            box-shadow: none;
        }
    }

}