<div class="oc-footer">
    <div class="oc-footer__item">
        <h4>Stephen Galang Vinuya</h4>
        <p>Lead Angular Developer | Microsoft MVP</p>
    </div>
    <div class="oc-footer__item">
        <h4>Contact Details</h4>
        <p>onecompileman13&#64;gmail.com | +639399052618</p>
    </div>

    <div class="oc-footer__item">
        <h4>Follow Me</h4>
        <div class="d-flex oc-footer__social-icons">
            <a href="https://www.facebook.com/stephen.vinuya/" target="_blank">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/stephen-vinuya-54441b106/" target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
            <a href="https://stackoverflow.com/users/9818614/onecompileman" target="_blank">
                <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
            </a>
        </div>
    </div>
</div>