<div class="oc-blogs__author mt-3 ms-md-3 ms-sm-0">
  <button class="btn btn-primary w-100" disabled>About the Author</button>
  <div class="oc-blogs__author-image mt-4">
    <img src="/assets/images/profile.png" alt="Author image" />
  </div>
  <h5 class="mt-3">Stephen Galang Vinuya</h5>
  <small>Lead Angular Developer </small>
  <div class="d-flex oc-blogs__social-icons">
    <a href="https://www.facebook.com/stephen.vinuya/" target="_blank">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
    </a>
    <a href="https://github.com/onecompileman" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a
      href="https://www.linkedin.com/in/stephen-vinuya-54441b106/"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a
      href="https://stackoverflow.com/users/9818614/onecompileman"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
    </a>
  </div>

  <p class="mt-2">
    I'm currently working as a
    <b>Lead Angular Developer</b>. I have been recognized as a
    <b>Microsoft MVP for Developer Technologies</b>
    from 2019 to 2024.
  </p>

  <button class="btn btn-primary w-100 mt-3" disabled>Blog Categories</button>
  <div class="list-group list-group-flush w-100 mt-3">
    <a
      href="#"
      class="list-group-item list-group-item-action"
      aria-current="true"
    >
      <span>CSS</span>
      <span>2</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <span>HTML</span>
      <span>2</span>
    </a>
  </div>
  <button class="btn btn-primary w-100 mt-3" disabled>Newsletter</button>
  <p class="mt-3">
    Want to be updated to my latest blogs and site updates? Subscribe to my
    newsletter.
  </p>

  <div class="input-group mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Enter your email" />
    <button class="btn btn-info" type="button" id="button-addon2">
      Subscribe
    </button>
  </div>
</div>
