@import "../../../assets/scss/config.scss";
.#{$style-prefix}-blogs {
  .container {
    max-width: 1100px;
  }

  &__blog-content {
  }

  &__image-header {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      position: absolute;
    }
  }
  &__blogs {
    padding: 30px;
    background-color: $bg1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 830px) {
      padding: 20px;
    }

    // p {
    //   //   text-align: center;
    //   font-size: 14px;
    // }

    &-item {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
