<div class="oc-home">
  <section class="oc-home__this-is-me">
    <div class="container d-flex">
      <div class="oc-home__this-is-me-info">
        <span>THIS IS ME</span>
        <h1>STEPHEN VINUYA</h1>
        <p>
          Lead Angular Developer | 5 consecutive years as Microsoft MVP |
          Speaker | Technology Advocate | 10 yrs experience in Web Development
        </p>
      </div>
      <div class="oc-home__this-is-me-image">
        <div class="oc-home__this-is-me-imagebg"></div>
        <img src="assets/images/profile.png" alt="Profile" />
      </div>
    </div>
  </section>

  <section class="oc-home__about-me">
    <div class="container d-flex">
      <div class="oc-home__about-me-image">
        <div class="oc-home__about-me-imagebg"></div>
        <img src="assets/images/profile-2.png" alt="Profile" />
      </div>
      <div class="oc-home__about-me-info">
        <span>ABOUT ME</span>
        <h2>PERSONAL DETAILS</h2>
        <p>
          Lead Angular Developer | 5 consecutive years as Microsoft MVP |
          Speaker | Technology Advocate | 10 yrs experience in Web Development
        </p>
        <button class="btn btn-primary ps-5 pe-5 mt-3">Learn more</button>
      </div>
    </div>
  </section>

  <section class="oc-home__services">
    <h2 class="mt-5">My Offered Services</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore 
      blanditiis facere, fuga distinctio quia tempora sequi! <br> Libero vel ipsum
      nihil quae, aliquam deserunt quas, repellendus sunt architecto mollitia
      hic suscipit?
    </p>
  </section>
</div>
