@import "../../assets/scss/config.scss";
.#{$style-prefix}-home {
  &__about-me {
    min-height: 600px;
    display: flex;
    justify-content: center;
    background-color: $bg1;

    &-imagebg {
      background-image: url("../../assets/images/highlight.png");
      background-size: auto;
      background-size: contain;
      position: absolute;
      top: 80px;
      left: -60px;
      height: 600px;
      width: 598px;
      z-index: 2;
    }
    &-image {
      width: 500px;
      position: relative;
      overflow-y: clip;
      img {
        height: 600px;
        z-index: 10;
        position: relative;
      }
    }

    &-info {
      margin-right: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 14px;
        margin-bottom: 20px;
      }

      p {
        margin-top: 20px;
      }
    }

    .container {
      max-width: 1000px;
    }

    @media screen and (max-width: 830px) {
      .container {
        flex-wrap: wrap;
      }

      &-info {
        margin-right: 80px;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
      }

      &-image {
        justify-content: center;
        display: flex;

        width: 100%;

        img {
            height: 450px;
        }
      }
      &-imagebg {
        left: unset !important;
        height: 450px;
        width: 450px;
      }
    }
  }
}
