<div class="oc-home">
  <section class="oc-home__about-me">
    <div class="container d-flex ">
      <div class="oc-home__about-me-info">
        <span>THIS IS ME</span>
        <h1>STEPHEN VINUYA</h1>
        <p>
         Lead Angular Developer | 5 consecutive years as Microsoft MVP | Speaker | Technology Advocate | 10 yrs experience in Web Development
        </p>
        <button class="btn btn-primary ps-5 pe-5 mt-3">Learn more</button>
      </div>
      <div class="oc-home__about-me-image">
        <div class="oc-home__about-me-imagebg">

        </div>
        <img src="assets/images/profile.png" alt="Profile" />
      </div>
    </div>
  </section>
</div>
