@import "../../../assets/scss/config.scss";
.#{$style-prefix}-blog-comment {
  display: flex;
  flex-direction: column;

  &__comments {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    max-height: 400px;
    overflow-y: auto;

    @include scrollbars(4px, #3F5CA2,$light);
    

    h5 {
      text-align: center;
    }
  }
  &__comment-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    position: relative;

    &-remove {
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: white;
      height: 32px;
      width: 32px;
      cursor: pointer;
      border-radius: 100%;
      top: 0;
      right: 0;
    }

    small {
        font-size: 12px;
    }

    &:last-child {
        border-bottom: none;
    }

    p {
        font-size: 14px;
    }
  }

  textarea, input {
    background-color: unset;
  }
}
